@import '../../assets/scss/theme/default';
.sneaker-detail-page {
  padding: 0px 90px;
  &__sneaker-info {
    margin-top: 48px;
    .ant-card-grid {
      width: 50%;
      padding: 0 0 0px 0;
    }
    &-showcase {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 650px;
      img {
        height: 300px;
      }
      &__onfeet {
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 4px;
        border: 1px solid $primary-color;
        padding: 2px;
        > img {
          width: 44px;
          height: 44px;
        }
      }
      &__details {
        font-size: 10px;
        line-height: 12px;
        color: $primary-gray;
        padding-bottom: 40px;
      }

      &__extra {
        width: 100%;
        padding: 24px;
        text-align: right;
      }
      &__name {
        font-size: 32px;
        line-height: 1.38;
        letter-spacing: 0.1;
        max-width: 300px;
        margin: 0 auto;
      }
      &__sku {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 24px;
        color: $primary-gray;
      }
      &__button-group {
        display: flex;
        position: relative;
        bottom: 0px;
        width: 100%;
        > a {
          width: 100%;
          display: block;
          font-size: 12px;
          padding: 16px 0;
          color: $primary-color;
          border: 1px solid $border-color;
          border-bottom: none;
          // clear: both;
          // box-sizing: content-box;
          &:hover {
            color: $primary-color;
            text-decoration: underline;
          }
          &:first-child {
            border-left: 0px;
          }
          &:last-child {
            border-left: 0px;
            border-right: 0px;
          }
        }
      }
    }
  }

  &__detail-arrow-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    > a {
      display: inline-block;
      padding: 24px;
      color: $primary-color;
      > .arrow {
        display: inline-block;
        margin-left: 4px;
        transform: rotate(90deg);
      }
    }
  }

  &__story {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 24px;
    > h2 {
      text-align: center;
      font-size: 24px;
      letter-spacing: 0px;
      margin-bottom: 31px;
    }
    > p {
      text-align: center;
      font-size: 18px;
    }
  }

  @media screen and (min-width: $screen-xs-min) {
    padding: 0;
    &__sneaker-info {
      .ant-card-grid {
        width: 100%;
        padding: 0 0 0px 0;
      }
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    padding: 0 0px;
    &__sneaker-info {
      .ant-card-grid {
        width: 100%;
        padding: 0 0 0px 0;
      }
    }
  }

  @media screen and (min-width: $screen-md-min) {
    padding: 0 90px;
    &__sneaker-info {
      .ant-card-grid {
        width: 50%;
        padding: 0 0 0px 0;
      }
    }
  }
}
