@import '../../../assets/scss/theme/default';

.sneaker-grid-toolbox {
  // display: flex;
  // flex
  &__wrapper {
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
  }

  &__filter-btn {
    color: $primary-color;
  }
  &__sort-by {
    > span {
      margin-right: 8px;
    }
    &-box {
      width: 250px;
    }
  }

  &__filter {
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    &__name {
      padding: 12px;
    }
    &__shoe-condition {
      padding: 12px;
      > label {
        margin-right: 12px;
      }
    }
  }
}
